#fix_head {
	width: 18rem;
	height: 2.4rem;
    position: fixed;
    top: 0;
	left: 50%;
	margin-left: -9rem;
    transition: all .2s ease;
	z-index: 999;
}
.fix-head-fixed { background: rgba(0, 0, 0, 0)}
.fix-head-scroll { background: rgba(255, 178, 45, .9)}
.fix-head-scroll:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: 1px solid #E0E0E0;
    -webkit-transform: scaleY(.8);
    pointer-events: none
}
.head-search {
	background: rgba(0, 0, 0, .05);
	border-radius: .7rem;
	height: 1.375rem;
	position: absolute;
	top: .5rem;
	left: .5rem;
	right: 2.5rem;
	z-index: 9;
}
.hd-search-inner{
	cursor: pointer;
	height: 100%;
	margin-left: 1.8rem;
	margin-right: 1rem;
}
.hd-search-inner .notice-cont, .hd-search-inner .notice-swiper{ height: 1.38rem!important}
.hd-search-inner .notice-swiper .swiper-slide{ line-height: 1.4rem!important}
.fix-head-scroll .head-search{ background: rgba(255, 255, 255, .7)}
.i-sear {
    background-position: -4rem 0;
    top: .45rem;
    left: .35rem;
	position: absolute;
}

.i-user {
    display: block;
    margin: 0 auto;
    background-position: -1.3rem 0
}
.i-left { background-position: -3.9rem 0}
.hd-user{
	width: 2.2rem;
	cursor: pointer;
	overflow: hidden;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	z-index: 10;
}
.hd-user .i-user{ margin-top: .6rem}
.notice {
    background-color: #fff;
    padding: 0 1.3rem 0 2rem;
    overflow: hidden;
    position: relative;
}
.notice:before {
    background-color: #eee;
    content: '';
    height: 1px;
    left: 0;
    top: 0;
    right: 0;
    position: absolute;
    z-index: 1
}
.i-notice, .notice-more { position: absolute; z-index: 1}
.i-notice {
    background-position: -2.65rem 0;
    left: .5rem;
    top: .56rem
}
.notice-more {
    top: 0;
    left: 16.1rem;
    right: 0;
    bottom: 0;
    text-align: center;
}
.notice-more .i-more { margin-top: .55rem}
.i-more { background-position: -5.1rem 0}
.clear:after, .clear:before, .page-wrap ul:after, .page-wrap ul:before {
    display: table;
    content: ""
}
.clear:after, .page-wrap ul:after { clear: both}
.page-wrap li {
    box-sizing: border-box;
    width: 33.333333%;
    font-size: .35rem;
    vertical-align: top;
    overflow: hidden;
    position: relative;
    text-align: center;
    float: left
}
.page-wrap li:after, .page-wrap li:before{
    content: '';
    background-color: #eee;
    position: absolute;
    right: 0;
    z-index: 1
}
.page-wrap li:before {
    width: 1px;
    top: 0;
    bottom: 0
}
.page-wrap li:after {
    height: 1px;
    left: 0;
    bottom: 0
}
.page-wrap li:nth-child(3n):before { width: 0}
.page-wrap li:nth-last-child(-n+3):after { background-color: transparent;}
.a-game {
    display: block;
    height: 6.325rem;
    margin: 0 auto;
    padding: .75rem .625rem 0;
    position: relative
}
.page-wrap li:hover { background-color: #f9f9f9}
.a-game img {
    border-radius: .4rem;
    display: block;
    margin: 0 auto;
    width: 3.5rem;
    height: 3.5rem
}
.sale-tx {
    background-color: #FA6767;
    color: #fff;
    border-radius: .4rem 0 .4rem 0;
    padding: .2rem .1rem;
    font-size: .5rem;
    position: absolute;
    top: .75rem;
    left: 1.245rem;
    z-index: 3
}
.page-name, .page-tle {
    height: .75rem;
    line-height: .75rem;
    font-size: .7rem;
    font-weight: 500
}
.page-name { font-weight: 500; margin: .375rem 0 .25rem}
.page-info {
    height: .8rem;
    font-size: .55rem;
    color: #999;
    font-weight: 400;
    margin: 0 -.125rem .75rem
}
#footer-box {
    text-align: center;
    padding-bottom: .5rem;
    margin-bottom: 1.8rem
}
#footer-box > img { width: 3.5rem; height: 1.325rem}
#footer-box > p {
    color: #999;
    font-size: .5rem;
    letter-spacing: .05rem;
    margin: .25rem auto
}
.foot-blue {
    padding-left: 1rem;
    border-left: 1px solid #ccc;
    color: #969696
}