#head-box {
    position: fixed;
    z-index: 100;
    top: 0;
    width: 18rem;
    height: 2.4rem;
    transition: all .2s ease
}

.head-box-first {
    background: rgba(0, 0, 0, 0)
}

.head-box-second {
    background: #ffb22d
}

.head-box-second:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: 1px solid #E0E0E0;
    -webkit-transform: scaleY(.8);
    pointer-events: none
}

.head-box-first > #head-search {
    background: #FFF;
    opacity: .7;
    filter: "alpha(opacity=70)"
}

#head-logo {
    float: left;
    margin: .45rem .7rem 0 .5rem;
    width: 4.1rem;
    height: 1.35rem
}

#head-logo img {
    width: 100%;
    height: 100%
}

#head-search {
    margin-top: .5rem;
    width: 10rem;
    height: 1.375rem;
    border-radius: .7rem;
    background: rgba(0, 0, 0, .05);
    float: left
}

#head-box a {
    display: block
}

#head-box .big_glass {
    width: 1.4rem;
    float: left;
    height: 100%
}

.hot_url {
    float: left;
    height: 100%;
    line-height: 1.375rem;
    color: #666;
    padding: 0 0 0 .2rem;
    width: 8.5rem
}

.text_url {
    float: left;
    height: 100%
}

.sw a {
    height: 100%;
    display: block
}

.sear_div {
    height: 100%;
    float: left;
    width: 8.2rem
}

#head-search a > img {
    width: .8rem;
    height: .825rem;
    margin-top: .28rem;
    margin-left: .4rem
}

#head-login {
    float: right;
    width: 2.4rem;
    height: 2.4rem
}

#head-login a {
    width: 100%;
    height: 1.8rem;
    padding-top: .6rem
}

body .home-device > a {
    display: none
}

.i-sear {
    background-position: -4rem 0;
    margin-top: .3rem;
    margin-left: .35rem
}

.i-user {
    display: block;
    margin: 0 auto;
    background-position: -1.3rem 0
}
.i-left { background-position: -3.9rem 0}
.notice {
    background-color: #fff;
    padding: 0 1.3rem 0 2rem;
    overflow: hidden;
    position: relative;
}
.notice:before {
    background-color: #eee;
    content: '';
    height: 1px;
    left: 0;
    top: 0;
    right: 0;
    position: absolute;
    z-index: 1
}
.i-notice, .notice-more { position: absolute; z-index: 1}
.i-notice {
    background-position: -2.65rem 0;
    left: .5rem;
    top: .56rem
}
.notice-more {
    top: 0;
    left: 16.1rem;
    right: 0;
    bottom: 0;
    text-align: center;
}
.notice-more .i-more { margin-top: .55rem}
.i-more { background-position: -5.1rem 0}
.clear:after, .clear:before, .page-wrap ul:after, .page-wrap ul:before {
    display: table;
    content: ""
}
.clear:after, .page-wrap ul:after { clear: both}
.page-wrap li {
    box-sizing: border-box;
    width: 33.333333%;
    font-size: .35rem;
    vertical-align: top;
    overflow: hidden;
    position: relative;
    text-align: center;
    float: left
}
.page-wrap li:after, .page-wrap li:before{
    content: '';
    background-color: #eee;
    position: absolute;
    right: 0;
    z-index: 1
}
.page-wrap li:before {
    width: 1px;
    top: 0;
    bottom: 0
}
.page-wrap li:after {
    height: 1px;
    left: 0;
    bottom: 0
}
.page-wrap li:nth-child(3n):before { width: 0}
.page-wrap li:nth-last-child(-n+3):after { background-color: transparent;}
.a-game {
    display: block;
    height: 6.325rem;
    margin: 0 auto;
    padding: .75rem .625rem 0;
    position: relative
}
.page-wrap li:hover { background-color: #f9f9f9}
.a-game img {
    border-radius: .4rem;
    display: block;
    margin: 0 auto;
    width: 3.5rem;
    height: 3.5rem
}
.sale-tx {
    background-color: #FA6767;
    color: #fff;
    border-radius: .4rem 0 .4rem 0;
    padding: .2rem .1rem;
    font-size: .5rem;
    position: absolute;
    top: .75rem;
    left: 1.245rem;
    z-index: 3
}
.page-name, .page-tle {
    height: .75rem;
    line-height: .75rem;
    font-size: .7rem;
    font-weight: 500
}
.page-name { font-weight: 500; margin: .375rem 0 .25rem}
.page-info {
    height: .8rem;
    font-size: .55rem;
    color: #999;
    font-weight: 400;
    margin: 0 -.125rem .75rem
}
#footer-box {
    text-align: center;
    padding-bottom: .5rem;
    margin-bottom: 1.8rem
}
#footer-box > img { width: 3.5rem; height: 1.325rem}
#footer-box > p {
    color: #999;
    font-size: .5rem;
    letter-spacing: .05rem;
    margin: .25rem auto
}
.foot-blue {
    padding-left: 1rem;
    border-left: 1px solid #ccc;
    color: #969696
}
